@font-face {
    font-family: 'Helvetica Neue Cyr Thin';
    src: url('../fonts/HelveticaNeueCyr-Thin.eot');
    src: url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

 @font-face {
    font-family: 'Raleway Bold Italic';
    src: url('../fonts/Raleway-BoldItalic.eot');
    src: url('../fonts/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-BoldItalic.woff') format('woff'),
    url('../fonts/Raleway-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
        }   
 @font-face {
    font-family: 'Raleway Regular';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
        }   
@font-face {
    font-family: 'Raleway Semibold';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-SemiBold.woff') format('woff'),
    url('../fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
        }   
 @font-face {
    font-family: 'Raleway Light';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Light.woff') format('woff'),
    url('../fonts/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
        }       
 @font-face {
    font-family: 'Raleway Medium';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Medium.woff') format('woff'),
    url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
        }
@font-face {
    font-family: 'Raleway Italic';
    src: url('../fonts/Raleway-Italic.eot');
    src: url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Italic.woff') format('woff'),
    url('../fonts/Raleway-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
        }      
@font-face {
    font-family: 'Raleway Black';
    src: url('../fonts/Raleway-Black.eot');
    src: url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Black.woff') format('woff'),
    url('../fonts/Raleway-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
            }   